<ul class="h-f-h--linklist">
  {% for link in linklists[menu].links %}


    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    
      <li class="h-f-h--linklist-item {% if link.links != blank %}h-f-h--has-dropdown{% endif %}">
        <a class="h-f-h--linklist-link" href="{{ link.url }}">{{ link.title }}</a>
        {% if link.links != blank %}
        <ul class="h-f-h--child-linklist">
          {% for childlink in link.links %}
              <li class="{% if link.links != blank %}h-f-h--has-grandchild{% endif %}">
                {% if childlink.url == "#coming-soon" %}
                  <a class="h-f-h--coming-soon-link" href="#">{{ childlink.title }} </a>
                {% else %}
                  <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                {% endif %}


                {% if childlink.links != blank %}
                <ul class="h-f-h--grandchild-linklist">
                  {% for grandchildlink in childlink.links %}
                  <li>
                    {% if grandchildlink.url == "#coming-soon" %}
                    <a class="h-f-h--coming-soon-link" href="#">{{ grandchildlink.title }} </a>
                    {% else %}
                    <a href="{{ grandchildlink.url }}" class="site-nav__link site-nav__child-link" {% if grandchildlink.current %}
                      aria-current="page" {% endif %}>{{ grandchildlink.title | escape }}
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}


              </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      


    
  {% endfor %}




</ul>