<style>
  .section--{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }
  .section--{{ section.id }} .custom-heading_heading-2 {
    width: {{ section.settings.c-h-2_margin-top }}em;
  }
  .section--{{ section.id }} .custom-heading_heading-1 img {
    width: {{ section.settings.c-h-1_width }}%;
  }
  .section--{{ section.id }} .custom-heading_heading-2 img {
    width: {{ section.settings.c-h-2_width }}%;
  }
  .section--{{ section.id }} .custom-heading_heading-1 svg path {
    fill: {{ section.settings.c-h-1_color }};
  }
  .section--{{ section.id }} .custom-heading_heading-2 svg path {
    fill: {{ section.settings.c-h-2_color }};
  }

  
  @media screen and (max-width: 599px) {
    .section--{{ section.id }} .custom-heading_heading-1 img {
      width: {{ section.settings.c-h-1_width--mobile }}%;
    }
    .section--{{ section.id }} .custom-heading_heading-2 img {
      width: {{ section.settings.c-h-2_width--mobile }}%;
    }
  }


</style> 

<div class="section--{{ section.id }} index-section-pad" data-section-id="{{ section.id }}" data-section-type="custom-heading-height-section">
  <div class="page-width full">
    <div class="custom-heading text-center">
      <div class="custom-heading_heading-1 text-center">
        <img class="{% if section.settings.c-h-1_svg__mobile != blank %}hidden-down-md{% endif %}" src="{{ section.settings.c-h-1_svg }}">
        {% if section.settings.c-h-1_svg__mobile != blank %}
          <img class="hidden-up-md" src="{{ section.settings.c-h-1_svg__mobile }}">
        {% endif %}
      </div>
      <div class="custom-heading_heading-2 text-center">
        <img class="{% if section.settings.c-h-2_svg__mobile != blank %}hidden-down-md{% endif %}" src="{{ section.settings.c-h-2_svg }}">
        {% if section.settings.c-h-2_svg__mobile != blank %}
        <img class="hidden-up-md" src="{{ section.settings.c-h-2_svg__mobile }}">
        {% endif %}
      </div>
    </div>
    
  </div>
</div>
{% schema %}
{
  "name": "Custom SVG Heading",
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Heading svg 1"
    },
    {
      "type": "url",
      "id": "c-h-1_svg",
      "label": "Svg image 1"
    },
    {
      "type": "url",
      "id": "c-h-1_svg__mobile",
      "label": "Svg image 1 - Mobile"
    },
    {
      "type": "color",
      "id": "c-h-1_color",
      "label": "Heading 1 color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "c-h-1_width",
      "label": "Heading 1 width",
      "unit": "%",
      "min": 10,
      "max": 100,
      "step": 2,
      "default": 50
    },
    {
      "type": "range",
      "id": "c-h-1_width--mobile",
      "label": "Heading 1 width - Mobile",
      "unit": "%",
      "min": 10,
      "max": 100,
      "step": 2,
      "default": 50
    },
    {
      "type": "header",
      "content": "Heading svg 2"
    },
    {
      "type": "url",
      "id": "c-h-2_svg",
      "label": "Svg image 2"
    },
    {
      "type": "url",
      "id": "c-h-2_svg__mobile",
      "label": "Svg image 2 - Mobile"
    },
    {
      "type": "color",
      "id": "c-h-2_color",
      "label": "Heading 2 color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "c-h-2_width",
      "label": "Heading 2 width",
      "unit": "%",
      "min": 10,
      "max": 100,
      "step": 2,
      "default": 50
    },
    {
      "type": "range",
      "id": "c-h-2_width--mobile",
      "label": "Heading 2 width - Mobile",
      "unit": "%",
      "min": 10,
      "max": 100,
      "step": 2,
      "default": 50
    }
     
  ],
  "presets": [
    {
      "category": "Custom",
      "name":"Custom SVG Heading"
    }
  ]
}
{% endschema %}