<style>
  .section--{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }
  .section--{{ section.id }} .section-header {
    color: {{ section.settings.heading_color }};
  }
  .section--{{ section.id }} .section-header .adornment-rect {
    
  }
  .section--{{ section.id }} .price .price__regular span,
  .section--{{ section.id }} .h4.grid-view-item__title {
    color: {{ section.settings.text_color }};
  }
</style>

<div class="section--{{ section.id }} index-section-pad">
  <div class="page-width full">
    {% if section.settings.title != blank %}
      <div class="section-header">
        <h2>{{ section.settings.title | escape }}</h2>
        {% if section.settings.subtitle != blank %}
          <h2 class="section-header__with-adornment">
            {{ section.settings.subtitle | escape }} <span class="adornment-rect">▮▮▮▮▮▮▮▮▮</span>
          </h2>
        {% endif %}
      </div>
    {% endif %}
  </div>
  
    {%- assign collection = collections[section.settings.collection] -%}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_height = 530 -%}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign max_height = 345 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign max_height = 250 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign max_height = 195 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}

    {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

    <ul class="grid grid--flex">
      {% for product in collection.products limit: product_limit %}
        <li class="grid--flex__item {{ grid_item_width }}">
          {%- comment -%}
            {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor, show_only_images: section.settings.show_only_images %}
          {%- endcomment -%}

          {% include 'product-card-grid-flex', product: product %}

        </li>
      {% else %}

        {% for i in (1..product_limit) %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item product-card">
              <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
                <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
              </a>
              <div class="grid-view-item__image-wrapper">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>

              {% unless section.settings.show_only_images %}
                <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
                {% include 'product-price' %}
              {% endunless %}

            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>


    {% if section.settings.show_view_all %}
      <hr class="hr--invisible" aria-hidden="true" />
      <div class="text-center">
        <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}

  
</div>


{% schema %}
{
  "name": "Featured collection Flex",
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading",
        "es": "Título"
      },
      "default": {
        "en": "Featured collection",
        "es": "Colección destacada"
      }
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "en": "Collection",
        "es": "Colección"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "en": "Products per row",
        "es": "Productos por fila"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "en": "Rows",
        "es": "Filas"
      },
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_only_images",
      "label": "Show only images",
      "default": true,
      "info": "Hide name and price info"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured collection Flex",
        "es": "Colección destacada Flex"
      },
      "category": {
        "en": "Collection",
        "es": "Colección"
      }
    }
  ]
}
{% endschema %}
