
<style>
  .section--{{ section.id }} {
    background-color: {{ section.settings.bg_color }}
  }
</style>

<div data-section-id="{{ section.id }}" class="section--{{ section.id  }}" data-section-type="header-full-height-section">
  <div class="header-full-height__container">

    <div class="header-full-height__toolbar">






      <div class="site-header__icons-wrapper">

        <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
          search
          <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
        </button>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
              account
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
              account
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}

        <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
          cart
          <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
          <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
            <span data-cart-count>{{ cart.item_count }}</span>
            <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
          </div>
        </a>

        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
          </button>
        {% endunless %}
      </div>






    </div>

    <a class="header-full-height__logo">
      {% if section.settings.logo != blank %}
        <img src="{{ logo | img_url: 'master' }}" alt="logo">
      {% else %}
        {% if section.settings.logo_svg != blank %}
          <img src="{{ section.settings.logo_svg }}" alt="logo">
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      {% endif %}
    </a>

    <div class="header-full-height__menu">
      {% if section.settings.menu != blank %}
        {%- assign menu = section.settings.menu -%}
        <ul class="h-f-h--linklist">
          {% for link in linklists[menu].links %}
            <li class="h-f-h--linklist-item">
              <a class="h-f-h--linklist-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Header full height",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Logo",
      "info": "link to SVG file"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_svg",
      "label": "Logo svg"
    },
    {
      "type": "header",
      "content": "Menu",
      "info": "Select menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu",
      "info": "Main menu"
    }
  ]
}
{% endschema %}