
<div class="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="img-w-text__about-height-section">
  <div class="page-width page-width__about">  
    <div class="grid grid--uniform">
      <div class="grid__item small--one-whole medium-up--six-tenths">
        <div class="img-w-t_img-container">
          {% if section.settings.image != blank %}
            <picture>
              <source media="(min-width: 1500px)" srcset="{{ section.settings.image | img_url: '1000x' }}" />
              <source media="(min-width: 750px)" srcset="{{ section.settings.image | img_url: '700x' }}" />
              <img src="{{ section.settings.image | img_url: '480x' }}" alt="{{ section.settings.image.alt | escape }}" />
            </picture>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}    
          {% endif %}
          
        </div>
      </div>
      <div class="grid__item small--one-whole medium-up--four-tenths">

        {% if section.settings.text != blank %}
          <div class="rte rte-setting">{{ section.settings.text }}</div>
        {% endif %}

      </div>
    </div>
  </div>
</div>




{% schema %}
{
  "name": "Image with text - About",
  "class": "img-w-t",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    }
  ]
}
{% endschema %}