<div class="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="name-height-section">


  <div id="newsletter-popup" class="newsletter-popup">
    {%- assign formId = 'NewsleterPopupForm' -%}
    {% form 'customer', id: formId, novalidate: 'novalidate' %}
    <div class="newsletter-popup_heading">
      <div class="nws-p_heading-text">{% include 'newsletter_heading' %}</div>
      <div class="nws-p_close-button-container">
        <a href="#" class="btn nws-p_close-button" rel="modal:close">
          {% include 'newsletter_close' %}
        </a>
      </div>
    </div>
    <div class="newsletter-popup_content">
      <div class="newsletter-popup_content-wrapper">
        {% include 'newsletter_content' %}
      </div>
      <div class="form-container">
        <div>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="form-group">
            {% include 'newsletter-name' %}
            <input 
              type="text" 
              name="contact[name]" 
              id="{{ formId }}-name"
            />
          </div>
          <div class="form-group">
            {% include 'newsletter-email' %}
            <input 
              type="email" 
              name="contact[email]"
              id="{{ formId }}-email" 
              aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
              aria-required="true"
              required
              autocorrect="off"
              autocapitalize="off"
            />
          </div>
        </div>
    </div>

    <button type="submit" class="btn btn-round newsletter-popup_btn step-1">{% include 'newsletter_button-text' %}</button>
    <div class="step-2">
      {% include 'preloader' %}
    </div>
    <div class="step-3">
      <h3>Thanks for subscribe!</h3>
    </div>
    <!-- <a href="#" class="close-jqmodal" rel="modal:close">Close</a> -->
  {% endform %}
  </div>

  <!-- <a href="#newsletter-popup" rel="modal:open">Login</a> -->




</div>



{% schema %}
{
  "name": "Newsletter Popup",
  "class": "newsletterPopup",
  "settings": [
    
  ]
}
{% endschema %}