<div class="trade-application-page">
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--three-sixths medium-up--push-one-quarter">
      <div class="section-header text-center">
        {% render 'trade-logo' %}
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'TradeForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          {%- comment -%}

          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>

          {%- endcomment -%}

          <div class="form-group">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input
            type="email"
            id="{{ formId }}-email"
            name="contact[email]"
            autocorrect="off"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
            class="input--error"
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
            >
            {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
            {%- endif -%}
          </div>

          <div class="form-group">
            <label for="{{ formId }}-company">Company/Firm Name</label>
            <input type="text" id="{{ formId }}-company" name="contact[company]" value="{{ form[company] }}">
          </div>

          <div class="form-group">
            <label for="{{ formId }}-website">Company Website</label>
            <input type="text" id="{{ formId }}-website" name="contact[website]" value="{{ form[website] }}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-address">Address</label>
            <input type="text" id="{{ formId }}-address" name="contact[address]" value="{{ form[address] }}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-city">City</label>
            <input type="text" id="{{ formId }}-city" name="contact[city]" value="{{ form[city] }}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-state">state</label>
            <input type="text" id="{{ formId }}-state" name="contact[state]" value="{{ form[state] }}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-postalcode">ZIP/Postal Code</label>
            <input type="text" id="{{ formId }}-postalcode" name="contact[postalcode]" value="{{ form[postalcode] }}">
          </div>
          
          <div class="form-group">
            <label for="{{ formId }}-country">Country</label>
            <input type="text" id="{{ formId }}-country" name="contact[country]" value="{{ form[country] }}">
          </div>

          <div class="form-group">
            <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>

          {%- comment -%}
          <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          {%- endcomment -%}

          <input type="submit" class="btn" value="Submit Application">

        {% endform %}
      </div>
    </div>
  </div>
</div>
{% render 'trade-friends-vertical-text' %}
</div>